body::-webkit-scrollbar {
    overflow: hidden;
    display: none;
  }
  /* adding respective styling to different elements */
  body {
      margin: 0px;
  }
  /* styling the main div */
  #container {
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-image: url("clock.jpeg");
      background: opacity 0.5em;
  }
  
  #text {
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 10px;
      margin-top: 50px;
      font-family: Arial, Helvetica, sans-serif;
      background-color:lightyellow;
      background-image: linear-gradient(green,grey);
      border: 4px solid black;  
      border-radius: 20px;
      width: 36vw;
      min-width: 480px;
    text-align: center;
  }
  /* styling timer text */
  #timer_text {
      font-size: 2rem;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
  }
  /* styling the container div */
  #clock_container {
      height: 40vh;
      width: 36vw;
      min-height: 270px;
      min-width: 480px;
      border: 4px solid black;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin-top: 10px;
      background-image: linear-gradient(green,grey);
  }
  /* styling timer Box */
  #timer {
      height: 30%;
      width: 70%;
      background-color: white;
      border: 3px solid black;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  /* styling buttons and actions */
  #btns {
      height: 10%;
      width: 80%;
      display: flex;
      justify-content: space-around;
      margin-top: -120px;
  }
  
  #start_btn {
      border: 1px solid blue;
      width: 80px;
      border-radius: 15px;
      color: blue;
  }
  
  #start_btn:hover {
      background-color: grey;
      color: white;
  }
  
  #stop_btn {
      border: 1px solid red;
      width: 80px;
      border-radius: 15px;
      color: red;
  }
  
  #stop_btn:hover {
      background-color: grey;
      color: white;
  }
  
  #reset_btn {
      border: 1px solid green;
      width: 80px;
      border-radius: 15px;
      color: green;
  }
  
  #reset_btn:hover {
      background-color: grey;
      color: white;
  }
  
  .btn_text {
      font-size: 1rem;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  /* media query for responsiveness */
  @media screen and (max-width: 520px){
      #clock_container {
      height: 40vh;
      width: 90vw;
      min-width: 0px;
      }   
      #timer_text {
          font-size: 1.5rem;
      }
      #text {
        width: 90vw;
          font-size: 1.8rem;
          letter-spacing: 5px;
      }
      .btn_text {
          font-size: 0.8rem;
          width: 60px;
      }
  }
